<!doctype html>
<html>
<head>
    <title>Lunch Group Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="contianer">
    <div class="row">
        <div class="col-lg-4">
            <form action="/names" method="POST">
                <br>
                <p>Names:</p>
                <input type="text" name="names" id="names"></input>
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
                
            </form>
        </div>
    </div>
</div>
</body>