<!doctype html>
<html>
<head>
    <title>Lunch Group Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="contianer">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"></div>
        <div class="col-lg-4 col-sm-4 col-xs-12" id="groups">
            <h2> Lunch Groups</h2>
            {% for employee_group in employee_groups %}
            <p> Group: {% for name in employee_group %}
                {{name}} 
               {% endfor %}<p>
            {% endfor %}
            <p>Size Groups: {% for group in groups %}
             {{group}}, 
            {% endfor %}</p>
            
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</body>